@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


body {
  @apply bg-gray-200; 
}

html{
  scroll-behavior: smooth;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.blinking-button {
  animation: blink 1s infinite; /* 1s de duração, repetir infinitamente */
}


li.cursor-pointer.open .arrow-icon {
  transform: rotate(180deg);
}

.slick-slider {
  @apply relative;
}

.slick-prev,
.slick-next {
  @apply w-12 h-12 text-pink-bp cursor-pointer rounded-sm shadow-md shadow-pink-bp;
}

.slick-prev {
  @apply -left-16;
}
.slick-next {
  @apply -right-16;
}

.slick-prev:before,
.slick-next:before {
  @apply text-3xl opacity-100;
}

.slick-dots {
  @apply flex justify-center -mt-20 mb-8;
  position: static !important; 
}

.slick-dots li {
  @apply relative inline-block w-auto h-auto p-0 cursor-pointer mx-1;
}

.slick-dots li button {
  @apply block w-2 h-1 bg-pink-bp cursor-pointer rounded-lg border-none transition-all duration-300;
}

.slick-dots li.slick-active button {
  @apply w-14 h-1 bg-pink-bp;
}


.slick-dots li.slick-active button {
  @apply w-14 h-1 bg-white; /* Cor alterada quando ativo */
}

.slick-dots li button:before {
  @apply hidden;
}

.slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 25px !important;
  border: 1px solid white !important;
}
